@{
    Layout = "~/Views/Shared/Main.cshtml";
    ViewBag.Title = "Tác giả project";
}

<div class="col-xs-12 col-lg-10">
    <h2>@ViewBag.Title</h2>

    <div align="center" style="margin-left: 24px;display: inline-block;">
        <img src="~/Content/images/author.jpg" style="height: 90px; padding: 5px; border: 1px solid gray;" /><br />
        Nguyễn Duy Khánh<br />
        (KhanhThietbi)
    </div>

    <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
    <div style="float: left" id="SkypeButton_Call_khanhthietbi_1">
        <script type="text/javascript">
            Skype.ui({
                "name": "dropdown",
                "element": "SkypeButton_Call_khanhthietbi_1",
                "participants": ["khanhthietbi"],
                "imageSize": 24
            });
        </script>

        <p style="margin: 0 24px;"><a href="http://www.fb.com/NeedleKane" target="_blank"><img style="vertical-align:bottom" src="~/Content/images/fb.ico" height="20px" />  NeedleKane</a></p>

        <p style="margin: 24px 24px 0;"><a href="mailto:khanhthietbi@gmail.com"><img style="vertical-align:bottom" src="~/Content/images/gmail.ico" height="20px" />  Khanhthietbi@gmail.com</a></pstyle>
    </div>
</div>

<audio controls autoplay hidden>
    <source src="~/Content/audio/In the Morning Light.m4a" type="audio/mp4" />
</audio>

<style>
    .footer {
        display: none;
    }
</style>
