@{
    Layout = "~/Views/Shared/Main.cshtml";
    ViewBag.Title = "Contact me";
}

<div class="col-xs-12 col-lg-10">

    <h2>@ViewBag.Title.</h2>

    <address>
        No.3 alley 267/29 Hoang Hoa Tham street<br />
        Ba Dinh district, Hanoi, VietNam<br />
        <abbr title="Phone">P:</abbr>
        0976.698.089
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">khanhthietbi@gmail.com</a><br />
    </address>
</div>

<audio controls autoplay hidden>
    <source src="~/Content/audio/MainTitle.m4a" type="audio/mp4" />
</audio>

<style>
    .footer {
        display: none;
    }
</style>