@{
    Layout = "~/Views/Shared/Main.cshtml";
    ViewBag.Title = "Trang chủ";
}

<div class="col-lg-8 col-xs-12 main_body">
    <h3 align="center">Lorem Ipsum Dolor Sit Amet</h3>
    <p>Elementum feugiat ad velit inceptos dolor mi ut a nam torquent mattis nibh porta torquent nulla risus rutrum purus parturient eu ad cursus morbi a eu mus. Ante adipiscing erat consectetur eleifend imperdiet a facilisis a vestibulum venenatis himenaeos vel a ad litora at a suspendisse ut suspendisse suspendisse. Odio natoque vestibulum a vestibulum faucibus parturient sociosqu a eleifend dis ad pulvinar natoque lacus in dignissim parturient diam.</p>
    <p align="center">
        <img src="~/Content/images/image1.png" /><br />
        <i>Elementum feugiat ad velit inceptos dolor mi ut a nam torquent</i>
    </p>
    <p>Accumsan scelerisque a senectus ultricies a maecenas ullamcorper ullamcorper odio parturient mi magna adipiscing nec porta tincidunt sagittis et volutpat blandit tristique quisque neque parturient sociis. Eu a parturient suspendisse a mauris sapien bibendum curabitur proin a quam parturient netus purus suspendisse pharetra ullamcorper ut mus amet adipiscing.</p>
    <p align="center">
        <img src="~/Content/images/image2.jpg" /><br />
        <i>Accumsan scelerisque a senectus ultricies a maecenas ullamcorper ullamcorper odio</i>
    </p>
    <p>Netus placerat vestibulum fusce vivamus eu odio faucibus suspendisse a laoreet odio congue ut sodales netus a vulputate taciti diam a a fames. Scelerisque scelerisque in cursus arcu tincidunt et scelerisque vestibulum consectetur parturient elit torquent parturient nibh massa lacus a condimentum adipiscing vestibulum a tortor a elementum dignissim felis cras. Consectetur pretium ultricies cras sagittis id rhoncus mus interdum tortor consectetur egestas nunc adipiscing sed eleifend sagittis.</p>
    <p align="center">
        <img src="~/Content/images/image3.png" /><br />
        <i>Netus placerat vestibulum fusce vivamus eu odio faucibus suspendisse a laoreet odio congue</i>
    </p>
    <p>Morbi convallis rhoncus hendrerit donec habitasse nec malesuada tellus tortor consectetur curae adipiscing ad etiam parturient dui per eu faucibus a scelerisque metus sem cras a nascetur a. Potenti libero in eget natoque nascetur orci risus suspendisse vestibulum ultricies turpis a habitasse condimentum. Vestibulum a adipiscing nostra lectus a id mus suspendisse praesent in morbi at elit eget consectetur eu a a inceptos mi.</p>
</div>

<div class="widget col-lg-2 col-xs-12">
    Adipiscing amet dapibus commodo pulvinar ullamcorper facilisi enim sagittis senectus bibendum a vel vestibulum tristique orci.Eget adipiscing suspendisse convallis cum dis elit nunc fusce nisi a augue aliquet ac penatibus felis curabitur condimentum lobortis proin.Neque in.
</div>

<div class="widget col-lg-2 hidden-xs">
    Maecenas a vestibulum lorem et scelerisque eros aptent tempus consectetur volutpat amet ad netus magna senectus a.A potenti mus viverra a risus in interdum cursus mollis felis tristique scelerisque vestibulum varius.Ultricies nunc phasellus odio condimentum justo maecenas a a sagittis accumsan a a arcu blandit ullamcorper libero egestas ac venenatis et penatibus a a a placerat placerat enim dis.Vestibulum hac tellus cursus dapibus a habitasse nibh orci in ad vestibulum nam per imperdiet nam ultricies erat commodo aptent aptent consequat vulputate adipiscing ad pretium.Consectetur fermentum scelerisque facilisi donec a quis at ullamcorper vestibulum purus magna a.
</div>
<br />

<audio controls autoplay hidden>
    <source src="~/Content/audio/WishingYouWell.m4a" type="audio/mp4" />
</audio>